Repository shashank-rana22/Cogo-teams, changes with the owners that .github/CODEOWNERS names for each.
All owners: @prashantp01, @brayn003, @ajeets585, @aniljaiswal, @Harshitcogo, @mohit-cogo, @MahakCogoport, @ssngurjar, @prachidewangan26, @MrutyunjayaB, @harshcogo1304, @danampallyrahul-cogo, @sandeepn1709, @SDineshKumarCogoport, @cogoparth, @vinodtalapa, @ankitcogoport

fixes
  packages/cogo-academy/page-components/CreateModule/components/CreateQuestionSet/components/AddQuestionsForm/BulkUpload/index.js
  packages/cogo-academy/page-components/CreateModule/components/CreateQuestionSet/styles.module.css
Owners: @prashantp01

search added for topic
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllTopicCardView/AllTopics/QuestionList/AllQuestions/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllTopicCardView/AllTopics/QuestionList/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllTopicCardView/AllTopics/QuestionList/styles.module.css
  packages/cogo-academy/page-components/CreateFAQ/Analytics/hooks/useListFaqStats.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/hooks/useListFaqUsers.js
Owners: @prashantp01

nav fix
  packages/cogo-academy/page-components/CreateModule/components/CreateNewTest/components/DetailsAndQuestions/components/TestDetails/index.js
  packages/cogo-academy/page-components/CreateModule/components/CreateNewTest/components/ReviewAndCriteria/styles.module.css
Owners: @prashantp01

code refactored
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/hooks/ListFaqSearchHistories.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/hooks/useGraphData.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/hooks/useListFaqStats.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/hooks/useListFaqUsers.js
Owners: @prashantp01

lint
  packages/cogo-academy/page-components/CreateModule/components/CreateQuestionSet/styles.module.css
Owners: @prashantp01

integrated post_allocation_kam_expertise_profile_mastery_badge api (mastery modal preview on profile), refactored code, styling changes
  common/navigation-configs/apis/partner-apis.js
  packages/allocation/page-components/KamExpertise/components/Dashboard/KamData/KamLevelScoreCard/styles.module.css
  packages/allocation/page-components/KamExpertise/components/Dashboard/KamData/LeaderboardList/ListItem/index.js
  packages/allocation/page-components/KamExpertise/components/Dashboard/KamData/LeaderboardList/ListItem/styles.module.css
  packages/allocation/page-components/KamExpertise/components/Dashboard/KamData/LeaderboardList/index.js
  packages/allocation/page-components/KamExpertise/components/Dashboard/KamData/index.js
  packages/allocation/page-components/KamExpertise/components/Dashboard/index.js
  packages/allocation/page-components/KamExpertise/components/Dashboard/styles.module.css
  packages/my-profile/page-components/AllBadges/BadgeDescription/index.js
  packages/my-profile/page-components/AllBadges/BadgeList/index.js
  packages/my-profile/page-components/AllBadges/BadgeList/styles.module.css
  packages/my-profile/page-components/MyProfile/Details/Badges/index.js
  packages/my-profile/page-components/MyProfile/Details/Badges/styles.module.css
  packages/my-profile/page-components/MyProfile/Details/index.js
  packages/my-profile/page-components/MyProfile/GreetingsHeader/BadgeGotList/index.js
  packages/my-profile/page-components/MyProfile/GreetingsHeader/BadgeGotList/styles.module.css
  packages/my-profile/page-components/MyProfile/GreetingsHeader/index.js
  packages/my-profile/page-components/MyProfile/GreetingsHeader/styles.module.css
  packages/my-profile/page-components/MyProfile/Header/index.js
  packages/my-profile/page-components/MyProfile/index.js
  packages/my-profile/page-components/hooks/useGetAllocationKamExpertiseProfile.js
  packages/my-profile/page-components/hooks/usePostProfileMasteryBadge.js
Owners: @prashantp01, @Harshitcogo, @mohit-cogo, @MahakCogoport, @prachidewangan26

(update): final snake case fix and expertise type filter bug fixed
  packages/allocation/page-components/KamExpertise/components/Events/CreateEvent/index.js
  packages/allocation/page-components/KamExpertise/components/Events/EventDetails/EventList/EventListItem/index.js
  packages/allocation/page-components/KamExpertise/components/Events/EventDetails/EventList/EventLoadingState/index.js
  packages/allocation/page-components/KamExpertise/components/Events/EventDetails/EventList/index.js
  packages/allocation/page-components/KamExpertise/components/Events/EventDetails/Header/index.js
  packages/allocation/page-components/KamExpertise/components/Events/index.js
  packages/allocation/page-components/KamExpertise/hooks/useCreateNewEvent.js
Owners: @Harshitcogo, @mohit-cogo, @MahakCogoport

fixes
  packages/allocation/page-components/KamExpertise/hooks/useEditExpertiseParameters.js
Owners: @Harshitcogo, @mohit-cogo, @MahakCogoport

(fix): margin and style fix for eventlist in events
  packages/allocation/page-components/KamExpertise/components/Events/EventDetails/EventList/EventLoadingState/index.js
Owners: @Harshitcogo, @mohit-cogo, @MahakCogoport

fixes
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/EditCancelService/SupplierReallocation/index.js
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/EditCancelService/SupplierReallocation/styles.module.css
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/EditCancelService/styles.module.css
Owners: @ajeets585

fixed
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/hooks/useListFaqStats.js
Owners: @prashantp01

minor changes
  packages/allocation/page-components/KamExpertise/components/Badges/BadgeDetails/Header/index.js
  packages/allocation/page-components/KamExpertise/components/Badges/BadgeDetails/ListItem/BadgesLoading/index.js
  packages/allocation/page-components/KamExpertise/components/Badges/BadgeDetails/ListItem/BadgesLoading/styles.module.css
  packages/allocation/page-components/KamExpertise/components/Badges/BadgeDetails/ListItem/index.js
  packages/allocation/page-components/KamExpertise/components/Badges/BadgeDetails/ListItem/styles.module.css
Owners: @Harshitcogo, @mohit-cogo, @MahakCogoport

reset form | kamExpertie Events
  packages/allocation/page-components/KamExpertise/hooks/useCreateAllocationKamExpertiseEventScoring.js
Owners: @Harshitcogo, @mohit-cogo, @MahakCogoport

Response view
  common/navigation-configs/config/business-finance.js
  packages/business-finance/page-components/OverHeads/Expenses/ResponseView/index.tsx
  packages/business-finance/pages/business-finance/overheads/[active_tab]/response.ts
Owners: @prashantp01, @aniljaiswal

minor changes
  packages/allocation/page-components/KamExpertise/components/ExpertiseConfigurations/Tabs/KamExpertiseScore/ExpertiseParameters/index.js
  packages/allocation/page-components/KamExpertise/components/ExpertiseConfigurations/Tabs/KamExpertiseScore/ExpertiseParameters/styles.module.css
  packages/allocation/page-components/KamExpertise/configurations/get-add-conditions-controls.js
Owners: @Harshitcogo, @mohit-cogo, @MahakCogoport

configurable mail-options
  packages/cogo-one/common/MailDetails/index.js
  packages/cogo-one/common/MailDetails/styles.module.css
  packages/cogo-one/configurations/mail-configuration.js
  packages/cogo-one/hooks/useListMail.js
  packages/cogo-one/page-components/CogoOneChannel/Customers/MailList/GmailOptions/index.js
  packages/cogo-one/page-components/CogoOneChannel/Customers/MailList/index.js
Owners: @danampallyrahul-cogo, @sandeepn1709

local changes
  packages/allocation/page-components/KamExpertise/components/Dashboard/Header/index.js
  packages/allocation/page-components/KamExpertise/components/Dashboard/index.js
  packages/my-profile/page-components/AllBadges/BadgeDescription/index.js
  packages/my-profile/page-components/AllBadges/BadgeList/index.js
  packages/my-profile/page-components/AllBadges/index.js
Owners: @Harshitcogo, @mohit-cogo, @MahakCogoport, @prachidewangan26

Mapping
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllQuestionCardView/Scroll/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllQuestionCardView/ViewCards/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllQuestionCardView/ViewCardsList/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllTopicCardView/AllTopics/ViewCardsList/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllTopicCardView/AllTopics/ViewCardsList/styles.module.css
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllTopicCardView/AllTopics/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Users/UsersGroup/AllUsers/ViewCardsList/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Users/UsersGroup/AllUsers/ViewCardsList/styles.module.css
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Users/UsersGroup/AllUsers/index.js
Owners: @prashantp01

prm-feedback api
  common/navigation-configs/apis/partner-apis.js
Owners: @prashantp01

flex_wrap
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllQuestionCardView/QuestionList/AllQuestions/styles.module.css
Owners: @prashantp01

documents
  common/shipment-mails/page-components/Description/EmailView/Thread/EmailTop/index.js
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Documents/CheckList/Card/Content.js
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Documents/CheckList/Card/styles.module.css
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Documents/CheckList/VerticleLine/styles.module.css
Owners: @prashantp01, @ajeets585

invoice filter added
  packages/unified-dashboard/common/Filter/index.js
  packages/unified-dashboard/common/FilterContentComponents/DatesFilterContent.js
  packages/unified-dashboard/common/RevenueAnalysis/MobileAnalysis/index.js
  packages/unified-dashboard/common/RevenueAnalysis/index.js
  packages/unified-dashboard/constants/chart-buckets.js
  packages/unified-dashboard/hooks/useGetAccountWiseFunnel.js
  packages/unified-dashboard/hooks/useGetAccruedRevenue.js
  packages/unified-dashboard/hooks/useGetMonthlyRevenue.js
  packages/unified-dashboard/hooks/useGetOrganizationCohort.js
  packages/unified-dashboard/hooks/useGetPieBreakdown.js
  packages/unified-dashboard/hooks/useGetRevenueAnalysis.js
  packages/unified-dashboard/hooks/useGetTypewiseBreakdown.js
  packages/unified-dashboard/hooks/useIntersection.js
  packages/unified-dashboard/hooks/useListBookingAnalysis.js
  packages/unified-dashboard/hooks/useListSalesFunnel.js
  packages/unified-dashboard/hooks/useListShipments.js
  packages/unified-dashboard/page-components/RevenueVizualisation/Cohort/index.js
  packages/unified-dashboard/page-components/RevenueVizualisation/Cohort/resultColumns.js
  packages/unified-dashboard/page-components/RevenueVizualisation/Funnel/index.js
  packages/unified-dashboard/page-components/RevenueVizualisation/TableVisualization/resultColumns.js
  packages/unified-dashboard/page-components/RevenueVizualisation/VisualizationContainer/index.js
  packages/unified-dashboard/page-components/RevenueVizualisation/index.js
  packages/unified-dashboard/page-components/SalesFunnel/SalesFunnelDetails/FieldSales/ManagerList/EmployeeList/Employee.js
  packages/unified-dashboard/page-components/SalesFunnel/SalesFunnelDetails/MobileSalesFunnelDetails/FieldSales/ManagerList/EmployeeList/Employee.js
  packages/unified-dashboard/page-components/SalesFunnel/index.js
  packages/unified-dashboard/page-components/SalesOverall/SalesOverallDetails/FieldSales/ManagerList/EmployeeList/Employee.js
  packages/unified-dashboard/page-components/SalesOverall/SalesOverallDetails/MobileSalesOverallDetails/FieldSales/ManagerList/EmployeeList/Employee.js
  packages/unified-dashboard/page-components/SalesOverall/index.js
  packages/unified-dashboard/pages/unified-dashboard/index.js
Owners: @prashantp01

padding BT resolved
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllQuestionCardView/ViewCards/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllTopicCardView/AllTopics/QuestionList/AllQuestions/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllTopicCardView/index.js
Owners: @prashantp01

added sorting
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllQuestionCardView/QuestionList/AllQuestions/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllQuestionCardView/QuestionList/AllQuestions/styles.module.css
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllQuestionCardView/QuestionList/AllQuestions/useAllQuestions.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllQuestionCardView/QuestionList/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllQuestionCardView/QuestionList/styles.module.css
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllQuestionCardView/Scroll/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllTopicCardView/AllTopics/QuestionList/styles.module.css
  packages/cogo-academy/page-components/CreateFAQ/Analytics/hooks/useListFaqQuestions.js
Owners: @prashantp01

css fix
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllQuestionCardView/QuestionList/AllQuestions/styles.module.css
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllTopicCardView/AllTopics/ViewCardsList/styles.module.css
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Users/UsersGroup/AllUsers/ViewCardsList/styles.module.css
Owners: @prashantp01

page-builder
  packages/page-builder/configurations/basic-contents.js
  packages/page-builder/configurations/sample.js
  packages/page-builder/package.json
  packages/page-builder/page-components/CustomisePage/components/LeftPanel/Content/Basic/index.js
  packages/page-builder/page-components/CustomisePage/components/LeftPanel/Content/Basic/styles.module.css
  packages/page-builder/page-components/CustomisePage/components/LeftPanel/Content/index.js
  packages/page-builder/page-components/CustomisePage/components/LeftPanel/Content/styles.module.css
  packages/page-builder/page-components/CustomisePage/components/LeftPanel/index.js
  packages/page-builder/page-components/CustomisePage/components/LeftPanel/styles.module.css
  packages/page-builder/page-components/CustomisePage/components/RightPanel/index.js
  packages/page-builder/page-components/CustomisePage/components/RightPanel/styles.module.css
  packages/page-builder/page-components/CustomisePage/index.js
  packages/page-builder/page-components/CustomisePage/styles.module.css
  packages/page-builder/page-components/PublicPages/index.js
  packages/page-builder/page-components/PublicPages/styles.module.css
  packages/page-builder/pages/page-builder/[id]/index.js
  packages/page-builder/pages/page-builder/index.js
  packages/page-builder/utils/component-builder.js
Owners: @prashantp01

refactored
  packages/page-builder/page-components/CreatePage/components/LeftPanel/Content/Basic/index.js
  packages/page-builder/page-components/CreatePage/components/LeftPanel/Content/Basic/styles.module.css
  packages/page-builder/page-components/CreatePage/components/LeftPanel/Content/index.js
  packages/page-builder/page-components/CreatePage/components/LeftPanel/Content/styles.module.css
  packages/page-builder/page-components/CreatePage/components/LeftPanel/index.js
  packages/page-builder/page-components/CreatePage/components/LeftPanel/styles.module.css
  packages/page-builder/page-components/CreatePage/components/RightPanel/index.js
  packages/page-builder/page-components/CreatePage/components/RightPanel/styles.module.css
  packages/page-builder/page-components/CreatePage/index.js
  packages/page-builder/page-components/CreatePage/styles.module.css
  packages/page-builder/page-components/CustomisePage/components/LeftPanel/index.js
  packages/page-builder/page-components/ListPages/index.js
  packages/page-builder/page-components/ListPages/styles.module.css
  packages/page-builder/pages/page-builder/[id]/index.js
  packages/page-builder/pages/page-builder/index.js
Owners: @prashantp01

refactored
  packages/page-builder/page-components/CreatePage/components/LeftPanel/Content/Basic/styles.module.css
  packages/page-builder/page-components/CreatePage/components/LeftPanel/Content/styles.module.css
  packages/page-builder/page-components/CreatePage/components/RightPanel/styles.module.css
  packages/page-builder/page-components/CreatePage/styles.module.css
Owners: @prashantp01

ESLint Fix
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllQuestionCardView/ViewCards/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllQuestionCardView/ViewCardsList/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllQuestionCardView/ViewCardsTags/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllTopicCardView/AllTopics/QuestionList/AllQuestions/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllTopicCardView/AllTopics/ViewCards/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllTopicCardView/AllTopics/ViewCardsList/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Users/UsersGroup/AllUsers/ViewCards/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Users/UsersGroup/AllUsers/ViewCardsList/index.js
Owners: @prashantp01

refactored
  packages/page-builder/page-components/CreatePage/LeftPanel/Content/Basic/index.js
  packages/page-builder/page-components/CreatePage/LeftPanel/Content/Basic/styles.module.css
  packages/page-builder/page-components/CreatePage/LeftPanel/Content/index.js
  packages/page-builder/page-components/CreatePage/LeftPanel/Content/styles.module.css
  packages/page-builder/page-components/CreatePage/LeftPanel/index.js
  packages/page-builder/page-components/CreatePage/LeftPanel/styles.module.css
  packages/page-builder/page-components/CreatePage/RightPanel/index.js
  packages/page-builder/page-components/CreatePage/RightPanel/styles.module.css
  packages/page-builder/page-components/CreatePage/index.js
Owners: @prashantp01

fixes
  packages/cogo-academy/page-components/CreateModule/commons/SingleQuestionComponent/controls.js
  packages/cogo-academy/page-components/CreateModule/hooks/useGetTestQuestionTest.js
Owners: @prashantp01

.github/CODEOWNERS:

# Catchall
* @prashantp01 @brayn003

# Github Actions
.github/ @prashantp01

# Packages
cogo-control/ @prashantp01
common/ @prashantp01
scripts/ @prashantp01
packages/ @prashantp01
packages/shipment-fcl-freight @ajeets585
packages/access-management @prashantp01
packages/authentication @prashantp01
packages/locations @prashantp01
packages/business-finance @aniljaiswal
packages/allocation @Harshitcogo @mohit-cogo @MahakCogoport
packages/contracts @ssngurjar
packages/my-profile @prachidewangan26
packages/vendor-rm @MrutyunjayaB @harshcogo1304
packages/my-incident @aniljaiswal
packages/cogo-one @danampallyrahul-cogo @sandeepn1709
packages/cogo-verse-analytics @SDineshKumarCogoport
packages/enrichment @cogoparth @mohit-cogo @Harshitcogo
packages/ground-ops @vinodtalapa @ankitcogoport
