Repository shashank-rana22/Cogo-teams, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @brayn003, @ajeets585, @bhanunadar, @cogoparth, @Harshitcogo, @mohit-cogo, @MahakCogoport, @ssngurjar, @prachidewangan26, @MrutyunjayaB, @harshcogo1304, @shivanshi-cogoport, @danampallyrahul-cogo, @sandeepn1709, @SDineshKumarCogoport, @shridharDB, @gurramgadda-sai-nithin, @vinodtalapa, @ankitcogoport, @shivam-cogo

pr changes
  packages/cogo-one/page-components/CogoOneChannel/ProfileDetails/OrganizationDetails/index.js
  packages/cogo-one/page-components/CogoOneChannel/ProfileDetails/OrganizationDetails/styles.module.css
Owners: @Cogoport/platform-engineering, @danampallyrahul-cogo, @sandeepn1709

.
  packages/cogo-one/page-components/CogoOneChannel/ProfileDetails/OrganizationDetails/index.js
Owners: @Cogoport/platform-engineering, @danampallyrahul-cogo, @sandeepn1709

publish course done
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/Header/index.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/Header/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/IntendedLearners/ExcelComponent/index.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/IntendedLearners/ExcelComponent/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/IntendedLearners/index.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/IntendedLearners/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/PublishCourse/controls.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/PublishCourse/index.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/PublishCourse/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/Specifications/index.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/Specifications/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/index.js
  packages/cogo-academy/page-components/Course/commons/FieldArray/Child/index.js
  packages/cogo-academy/page-components/Course/commons/FieldArray/Child/styles.module.css
Owners: @Cogoport/platform-engineering, @shivanshi-cogoport

fixes
  packages/business-finance/page-components/AccountPayables/AdvancePayment/CreateNewPayRun/Footer/index.tsx
Owners: @Cogoport/platform-engineering, @bhanunadar

Adding Key Rule
  .eslintrc.js
  .github/workflows/reusable-test-lint.yml
  package.json
  packages/vendor-rm/page-components/OnBoardVendor/VerificationDetails/DisplayDetails/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @brayn003, @MrutyunjayaB, @harshcogo1304, @shivanshi-cogoport

invices table api filters and list tasks changes
  packages/bl_do-collection-release/commons/Accordion/AccordionContent/Tasks/index.js
  packages/bl_do-collection-release/commons/Accordion/AccordionContent/index.js
  packages/bl_do-collection-release/commons/Accordion/AccordionContent/styles.module.css
  packages/bl_do-collection-release/commons/Accordion/AccordionText/index.js
  packages/bl_do-collection-release/commons/Accordion/AccordionText/styles.module.css
  packages/bl_do-collection-release/commons/Accordion/Invoices/index.js
  packages/bl_do-collection-release/commons/Accordion/Invoices/styles.module.css
  packages/bl_do-collection-release/commons/Accordion/Invoices/tableColumn.js
  packages/bl_do-collection-release/commons/Accordion/PendingKnockOff/index.js
  packages/bl_do-collection-release/commons/Accordion/index.js
  packages/bl_do-collection-release/commons/Card/LocationDetails/index.js
  packages/bl_do-collection-release/commons/Card/ServiceProvider/BLPopover/styles.module.css
  packages/bl_do-collection-release/commons/Card/ServiceProvider/ExtraDetails/index.js
  packages/bl_do-collection-release/commons/Card/ServiceProvider/SPPopover/index.js
  packages/bl_do-collection-release/commons/Card/ServiceProvider/index.js
  packages/bl_do-collection-release/commons/Card/index.js
  packages/bl_do-collection-release/commons/Card/styles.module.css
  packages/bl_do-collection-release/commons/List/index.js
  packages/bl_do-collection-release/commons/Loader/index.js
  packages/bl_do-collection-release/configs/TAB_CONFIG.json
  packages/bl_do-collection-release/configs/payloadConfig.json
  packages/bl_do-collection-release/helpers/getBlDoPayload.js
  packages/bl_do-collection-release/hooks/useListBlDOShipment.js
  packages/bl_do-collection-release/hooks/useListTasks.js
  packages/bl_do-collection-release/page-components/FCL-Local/index.js
  packages/bl_do-collection-release/page-components/FCL/index.js
  packages/bl_do-collection-release/page-components/LCL/index.js
  packages/bl_do-collection-release/page-components/index.js
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @brayn003

removing eslint issues
  .eslintrc.js
  packages/allocation/page-components/KamExpertise/components/Dashboard/index.js
  packages/vendor-rm/page-components/OnBoardVendor/VerificationDetails/DisplayDetails/index.js
Owners: @Cogoport/platform-engineering, @prashantp01, @brayn003, @cogoparth, @Harshitcogo, @mohit-cogo, @MahakCogoport, @MrutyunjayaB, @harshcogo1304, @shivanshi-cogoport

styling
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/LeftComponent/index.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/LeftComponent/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/Header/index.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/Header/styles.module.css
Owners: @Cogoport/platform-engineering, @shivanshi-cogoport

pr changes
  packages/cogo-one/hooks/useCheckCustomerCheckoutQuotationConflict.js
Owners: @Cogoport/platform-engineering, @danampallyrahul-cogo, @sandeepn1709

completion
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/index.js
Owners: @Cogoport/platform-engineering, @shivanshi-cogoport

course completion
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/CourseCompletion/ModalContent/index.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/CourseCompletion/ModalContent/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/CourseCompletion/index.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/CourseCompletion/styles.module.css
Owners: @Cogoport/platform-engineering, @shivanshi-cogoport

lint fixes
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/LeftComponent/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/Header/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/CourseOverview/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/Curriculum/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/IntendedLearners/ExcelComponent/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/IntendedLearners/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/PublishCourse/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/Specifications/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/styles.module.css
  packages/cogo-academy/page-components/Course/components/SearchFilter/styles.module.css
  packages/cogo-academy/page-components/Course/styles.module.css
Owners: @Cogoport/platform-engineering, @shivanshi-cogoport

cn
  packages/purchase-invoicing/common/ComparisionModal/index.js
  packages/purchase-invoicing/constants/index.js
  packages/purchase-invoicing/helpers/format-cp-data.js
  packages/purchase-invoicing/hooks/useCreateCollectionParty.js
  packages/purchase-invoicing/page-components/ExchangeRateModal/index.js
  packages/purchase-invoicing/page-components/InvoiceFormLayout/AdditionalDetails/index.js
  packages/purchase-invoicing/page-components/InvoiceFormLayout/index.js
  packages/purchase-invoicing/page-components/Step1/index.js
  packages/purchase-invoicing/page-components/Step2/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

style changes
  packages/cogo-one/page-components/CogoOneChannel/ProfileDetails/OrganizationDetails/QuotationDetails/styles.module.css
  packages/cogo-one/page-components/CogoOneChannel/ProfileDetails/RightSideNav/styles.module.css
Owners: @Cogoport/platform-engineering, @danampallyrahul-cogo, @sandeepn1709

change
  packages/bl_do-collection-release/commons/Accordion/AccordionContent/styles.module.css
  packages/bl_do-collection-release/commons/Accordion/AccordionText/styles.module.css
  packages/bl_do-collection-release/commons/Accordion/Invoices/styles.module.css
  packages/bl_do-collection-release/commons/Card/styles.module.css
  packages/bl_do-collection-release/configs/STATIONARY_PERMISSION.json
  packages/bl_do-collection-release/page-components/StationaryManagement/Usage/Filters/index.js
  packages/bl_do-collection-release/page-components/StationaryManagement/Usage/TableView/index.js
  packages/bl_do-collection-release/page-components/StationaryManagement/Usage/TableView/styles.module.css
  packages/bl_do-collection-release/page-components/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

change
  packages/bl_do-collection-release/configs/payloadConfig.json
Owners: @Cogoport/platform-engineering, @prashantp01

all shipments
  packages/kam-desk/common/ShipmentCard/Header/index.js
  packages/kam-desk/common/ShipmentCard/Header/styles.module.css
  packages/kam-desk/common/ShipmentCard/PortDetails/SingleLocation/index.js
  packages/kam-desk/common/ShipmentCard/ShipmentIcon/index.js
  packages/kam-desk/common/Stepper/styles.module.css
  packages/kam-desk/config/SHIPMENTS_PAYLOAD.js
  packages/kam-desk/config/SHIPMENT_TAB_MAPPING.js
  packages/kam-desk/helpers/getKamDeskFilters.js
  packages/kam-desk/hooks/useListKamDeskShipments.js
  packages/kam-desk/hooks/useListShipments.js
  packages/kam-desk/page-components/AIR/Card/styles.module.css
  packages/kam-desk/page-components/AIR/index.js
  packages/kam-desk/page-components/ALL/Cards/index.js
  packages/kam-desk/page-components/ALL/Cards/styles.module.css
  packages/kam-desk/page-components/ALL/ShipmentList/index.js
  packages/kam-desk/page-components/ALL/ShipmentList/styles.module.css
  packages/kam-desk/page-components/ALL/index.js
  packages/kam-desk/page-components/ALL/styles.module.css
  packages/kam-desk/page-components/FCL/ShipmentList/index.js
  packages/kam-desk/page-components/FCL/index.js
  packages/kam-desk/page-components/LCL/Card/index.js
  packages/kam-desk/page-components/LCL/ShipmentList/index.js
  packages/kam-desk/page-components/LCL/index.js
  packages/kam-desk/page-components/SURFACE/Card/index.js
  packages/kam-desk/page-components/SURFACE/Card/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01

sales invoice addd
  common/ocean-modules/components/SalesInvoice/InvoiceList/InvoiceItem/Item/Header/EditInvoice/index.js
  common/ocean-modules/components/SalesInvoice/InvoiceList/InvoiceItem/Item/Header/ExchangeRateModal/index.js
  packages/shipment-fcl-freight/common/CardList/CardHeader/Field/styles.module.css
  packages/shipment-fcl-freight/package.json
Owners: @Cogoport/platform-engineering, @prashantp01, @ajeets585

fix
  packages/authority-desk/page-components/Ocean/List/ListCard/ShipmentAudit/Invoices/SalesInvoice/index.js
  packages/authority-desk/page-components/Ocean/List/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

changes added
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/CourseCompletion/ModalContent/index.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/index.js
Owners: @Cogoport/platform-engineering, @shivanshi-cogoport

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @brayn003

# Github Actions
.github/ @Cogoport/platform-engineering @prashantp01

# Packages
cogo-control/ @Cogoport/platform-engineering @prashantp01
common/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
packages/ @Cogoport/platform-engineering @prashantp01
packages/shipment-fcl-freight @Cogoport/platform-engineering @ajeets585
packages/booking-desk @Cogoport/platform-engineering @ajeets585
packages/bn-salvage @Cogoport/platform-engineering @ajeets585
packages/access-management @Cogoport/platform-engineering @prashantp01
packages/authentication @Cogoport/platform-engineering @prashantp01
packages/locations @Cogoport/platform-engineering @prashantp01
packages/business-finance @Cogoport/platform-engineering @bhanunadar
packages/allocation @Cogoport/platform-engineering @cogoparth @Harshitcogo @mohit-cogo @MahakCogoport
packages/contracts @Cogoport/platform-engineering @ssngurjar
packages/my-profile @Cogoport/platform-engineering @prachidewangan26
packages/vendor-rm @Cogoport/platform-engineering @MrutyunjayaB @harshcogo1304 @shivanshi-cogoport
packages/my-incident @Cogoport/platform-engineering @bhanunadar
packages/cogo-one @Cogoport/platform-engineering @danampallyrahul-cogo @sandeepn1709
packages/cogo-verse-analytics @Cogoport/platform-engineering @SDineshKumarCogoport
packages/enrichment @Cogoport/platform-engineering @cogoparth @mohit-cogo @Harshitcogo
packages/performance-management @Cogoport/platform-engineering @cogoparth @Harshitcogo @shridharDB @gurramgadda-sai-nithin
packages/ground-ops @Cogoport/platform-engineering @vinodtalapa @ankitcogoport
packages/cogo-academy @Cogoport/platform-engineering @shivanshi-cogoport
packages/cogo-academy/page-components/ControlCenter @Cogoport/platform-engineering @shivam-cogo @prachidewangan26
packages/cogo-academy/page-components/FAQs @Cogoport/platform-engineering @shivam-cogo @prachidewangan26
