Repository shashank-rana22/Cogo-teams, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @brayn003, @ajeets585, @bhanunadar, @cogoparth, @Harshitcogo, @mohit-cogo, @MahakCogoport, @ssngurjar, @prachidewangan26, @MrutyunjayaB, @harshcogo1304, @shivanshi-cogoport, @danampallyrahul-cogo, @sandeepn1709, @SDineshKumarCogoport, @shridharDB, @gurramgadda-sai-nithin, @vinodtalapa, @ankitcogoport, @shivam-cogo

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 @brayn003

# Github Actions
.github/ @Cogoport/platform-engineering @prashantp01

# Packages
cogo-control/ @Cogoport/platform-engineering @prashantp01
common/ @Cogoport/platform-engineering @prashantp01
scripts/ @Cogoport/platform-engineering @prashantp01
packages/ @Cogoport/platform-engineering @prashantp01
packages/shipment-fcl-freight @Cogoport/platform-engineering @ajeets585
packages/booking-desk @Cogoport/platform-engineering @ajeets585
packages/bn-salvage @Cogoport/platform-engineering @ajeets585
packages/access-management @Cogoport/platform-engineering @prashantp01
packages/authentication @Cogoport/platform-engineering @prashantp01
packages/locations @Cogoport/platform-engineering @prashantp01
packages/business-finance @Cogoport/platform-engineering @bhanunadar
packages/allocation @Cogoport/platform-engineering @cogoparth @Harshitcogo @mohit-cogo @MahakCogoport
packages/contracts @Cogoport/platform-engineering @ssngurjar
packages/my-profile @Cogoport/platform-engineering @prachidewangan26
packages/vendor-rm @Cogoport/platform-engineering @MrutyunjayaB @harshcogo1304 @shivanshi-cogoport
packages/my-incident @Cogoport/platform-engineering @bhanunadar
packages/cogo-one @Cogoport/platform-engineering @danampallyrahul-cogo @sandeepn1709
packages/cogo-verse-analytics @Cogoport/platform-engineering @SDineshKumarCogoport
packages/enrichment @Cogoport/platform-engineering @cogoparth @mohit-cogo @Harshitcogo
packages/performance-management @Cogoport/platform-engineering @cogoparth @Harshitcogo @shridharDB @gurramgadda-sai-nithin
packages/ground-ops @Cogoport/platform-engineering @vinodtalapa @ankitcogoport
packages/cogo-academy @Cogoport/platform-engineering @shivanshi-cogoport
packages/cogo-academy/page-components/ControlCenter @Cogoport/platform-engineering @shivam-cogo @prachidewangan26
packages/cogo-academy/page-components/FAQs @Cogoport/platform-engineering @shivam-cogo @prachidewangan26

df
  packages/page-builder/page-components/PageBuilder/DNDComponent/DNDBody/RightPanel/MobileView/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01

dissable hawb number on edit
  packages/ground-ops/page-components/GenerateMAWB/Helpers/configurations/mawbControls.ts
  packages/ground-ops/page-components/GenerateMAWB/index.tsx
Owners: @Cogoport/platform-engineering, @vinodtalapa, @ankitcogoport

lint fix
  packages/unified-dashboard/page-components/BookingAnalysis/DeclaredRevenue/DesktopView/index.js
  packages/unified-dashboard/page-components/BookingAnalysis/RenderView/Months/index.js
  packages/unified-dashboard/page-components/BookingAnalysis/RenderView/RevenueSection/index.js
  packages/unified-dashboard/page-components/BookingAnalysis/RenderView/index.js
  packages/unified-dashboard/page-components/RevenueVizualisation/Cohort/index.js
  packages/unified-dashboard/page-components/RevenueVizualisation/Funnel/FunnelChart/index.js
  packages/unified-dashboard/page-components/RevenueVizualisation/Funnel/index.js
  packages/unified-dashboard/page-components/RevenueVizualisation/index.js
  packages/unified-dashboard/page-components/SalesFunnel/SalesFunnelDetails/FieldSales/ManagerList/EmployeeList/Employee.js
  packages/unified-dashboard/page-components/SalesFunnel/SalesFunnelDetails/FieldSales/ManagerList/EmployeeList/index.js
  packages/unified-dashboard/page-components/SalesFunnel/SalesFunnelDetails/FieldSales/ManagerList/index.js
  packages/unified-dashboard/page-components/SalesFunnel/SalesFunnelDetails/FieldSales/SalesZone/index.js
  packages/unified-dashboard/page-components/SalesFunnel/SalesFunnelDetails/MobileSalesFunnelDetails/FieldSales/ManagerList/EmployeeList/index.js
  packages/unified-dashboard/page-components/SalesFunnel/SalesFunnelDetails/MobileSalesFunnelDetails/FieldSales/ManagerList/index.js
  packages/unified-dashboard/page-components/SalesFunnel/SalesFunnelDetails/MobileSalesFunnelDetails/FieldSales/SalesZone/index.js
  packages/unified-dashboard/page-components/SalesOverall/Card/SummaryCard/index.js
  packages/unified-dashboard/page-components/SalesOverall/SalesOverallDetails/MobileSalesOverallDetails/FieldSales/ManagerList/EmployeeList/Employee.js
  packages/unified-dashboard/page-components/SalesOverall/SalesOverallDetails/MobileSalesOverallDetails/FieldSales/ManagerList/EmployeeList/index.js
  packages/unified-dashboard/page-components/SalesOverall/SalesOverallDetails/MobileSalesOverallDetails/FieldSales/ManagerList/index.js
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @brayn003

changes
  common/navigation-configs/apis/partner-apis.js
  packages/cogo-one/hooks/useCreateCustomerFeedback.js
  packages/cogo-one/page-components/CogoOneChannel/FeedbackModal/index.js
  packages/cogo-one/page-components/CogoOneChannel/FeedbackModal/styles.module.css
  packages/cogo-one/page-components/CogoOneChannel/index.js
  packages/cogo-one/page-components/CogoOneChannel/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @danampallyrahul-cogo, @sandeepn1709

style fix for dot
  packages/authority-desk/page-components/Ocean/Filters/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01

navigation add
  common/navigation-configs/config/saas-tools.js
  common/navigation-configs/route-config.js
Owners: @Cogoport/platform-engineering, @prashantp01

fixes
  packages/ground-ops/page-components/Air/components/GenerateManifestDoc/index.tsx
  packages/ground-ops/page-components/Air/hooks/useDownloadManifest.tsx
  packages/ground-ops/page-components/GenerateMAWB/FormContainer/ConfirmModal/index.tsx
  packages/ground-ops/page-components/GenerateMAWB/GenerateMawbDoc/ChargeDetails/OtherChargeDetails/index.tsx
Owners: @Cogoport/platform-engineering, @vinodtalapa, @ankitcogoport

Authority Desk
  packages/authority-desk/page-components/Ocean/List/ListCard/Footer/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

changes
  packages/cogo-one/hooks/useCreateCustomerFeedback.js
  packages/cogo-one/hooks/useListChats.js
  packages/cogo-one/page-components/CogoOneChannel/index.js
Owners: @Cogoport/platform-engineering, @danampallyrahul-cogo, @sandeepn1709

changes done
  common/globalization/constants/globals.json
  packages/business-finance/page-components/AccountReceivables/Utils/invoiceListFilterMapping.json
  packages/business-finance/page-components/AccountReceivables/Utils/invoicelistFilter.ts
  packages/business-finance/page-components/AccountReceivables/commons/InvoiceTable/index.tsx
  packages/business-finance/page-components/AccountReceivables/commons/InvoiceTable/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01, @bhanunadar

changes
  packages/business-finance/page-components/AccountReceivables/commons/InvoiceTable/index.tsx
Owners: @Cogoport/platform-engineering, @bhanunadar

Authority Desk
  packages/authority-desk/commons/CargoDetails/MultiServiceDetailsPopover/index.js
  packages/authority-desk/config/BucketMapping.js
  packages/authority-desk/config/OCEAN_FILTERS_CONTROLS.json
  packages/authority-desk/helpers/getOceanLocaltionInfo.js
  packages/authority-desk/hooks/useGetOrganizationOutstanding.js
  packages/authority-desk/hooks/useStakeholderCheck.js
  packages/authority-desk/package.json
  packages/authority-desk/page-components/Ocean/List/ListCard/AdditionalShipmentInfo/ShipmentInvoices/index.js
  packages/authority-desk/page-components/Ocean/List/ListCard/ShipmentAudit/BlDetails/index.js
  packages/authority-desk/page-components/Ocean/List/ListCard/ShipmentAudit/Invoices/PurchaseInvoice/index.js
  packages/authority-desk/page-components/Ocean/List/ListCard/ShipmentAudit/Invoices/index.js
  packages/authority-desk/page-components/Ocean/List/ListCard/ShipmentAudit/Organizations/DaysAmountBifercation/index.js
  packages/authority-desk/page-components/Ocean/List/ListCard/ShipmentAudit/Organizations/OrgDetails/index.js
  packages/authority-desk/page-components/Ocean/List/ListCard/ShipmentAudit/Organizations/index.js
  packages/authority-desk/page-components/Ocean/List/ListCard/ShipmentExtraDetails/DetentionAndDemurrage/index.js
  packages/authority-desk/page-components/Ocean/List/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

Authority Desk
  packages/authority-desk/page-components/Ocean/List/ListCard/ShipmentAudit/Organizations/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

Authority Desk
  packages/authority-desk/hooks/useGetOrganizationOutstanding.js
  packages/authority-desk/hooks/useListAuthorityDeskShipments.js
  packages/authority-desk/page-components/Ocean/Filters/styles.module.css
  packages/authority-desk/page-components/Ocean/List/ListCard/RequestModal/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

fix
  packages/authority-desk/page-components/Ocean/List/ListCard/Footer/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

Adding PR
  .github/workflows/reusable-test-lint.yml
Owners: @Cogoport/platform-engineering, @prashantp01

Adding PR
  .github/workflows/reusable-test-lint.yml
Owners: @Cogoport/platform-engineering, @prashantp01

fixes
  packages/air-repository/commons/Layout/ChildFormat/child.tsx
  packages/air-repository/commons/Layout/Item/index.tsx
  packages/air-repository/commons/List/EmptyState/styles.module.css
  packages/air-repository/commons/List/ListItem/getValue.tsx
  packages/air-repository/commons/List/index.tsx
  packages/air-repository/hooks/useHandleRepository.tsx
  packages/air-repository/page-components/Details/ConfirmDelete/index.tsx
  packages/air-repository/page-components/Header/index.tsx
Owners: @Cogoport/platform-engineering, @prashantp01

changes
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/Header/MAPPING.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/Header/index.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/Header/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/Curriculum/index.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/Curriculum/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/Curriculum/useHandleCurriculum.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/index.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/index.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/styles.module.css
Owners: @Cogoport/platform-engineering, @shivanshi-cogoport

bn_salvage init
  common/navigation-configs/config/bn-salvage.js
  common/navigation-configs/route-config.js
  packages/bn-salvage/config/tabs.json
  packages/bn-salvage/hooks/useListBNSalvageShipments.js
Owners: @Cogoport/platform-engineering, @prashantp01, @ajeets585

cancel fix
  packages/shipment-fcl-freight/page-components/ShipmentDetails/StakeholdersView/BookingAgent.js
  packages/shipment-fcl-freight/page-components/ShipmentDetails/StakeholdersView/BookingDesk.js
  packages/shipment-fcl-freight/page-components/ShipmentDetails/StakeholdersView/ConsigneeShipperBookingAgent.js
  packages/shipment-fcl-freight/page-components/ShipmentDetails/StakeholdersView/LastMileDesk.js
  packages/shipment-fcl-freight/page-components/ShipmentDetails/StakeholdersView/Superadmin.js
Owners: @Cogoport/platform-engineering, @ajeets585

PR
  .github/workflows/reusable-test-lint.yml
Owners: @Cogoport/platform-engineering, @prashantp01

desk structure
  packages/bn-salvage/config/tabs.json
  packages/bn-salvage/page-components/Card/index.js
  packages/bn-salvage/page-components/Filters/index.js
  packages/bn-salvage/page-components/List/index.js
  packages/bn-salvage/page-components/Tabs/index.js
  packages/bn-salvage/page-components/index.js
Owners: @Cogoport/platform-engineering, @ajeets585

Update reusable-test-lint.yml
  .github/workflows/reusable-test-lint.yml
Owners: @Cogoport/platform-engineering, @prashantp01

Update reusable-test-lint.yml
  .github/workflows/reusable-test-lint.yml
Owners: @Cogoport/platform-engineering, @prashantp01

changes
  packages/cogo-one/page-components/CogoOneChannel/index.js
Owners: @Cogoport/platform-engineering, @danampallyrahul-cogo, @sandeepn1709

Update reusable-test-lint.yml
  .github/workflows/reusable-test-lint.yml
Owners: @Cogoport/platform-engineering, @prashantp01

asd
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01, @brayn003

Update reusable-test-lint.yml
  .github/workflows/reusable-test-lint.yml
Owners: @Cogoport/platform-engineering, @prashantp01

Specifications done
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/IntendedLearners/index.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/IntendedLearners/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/Specifications/controls.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/Specifications/index.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/Specifications/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/index.js
  packages/cogo-academy/page-components/Course/commons/FieldArray/Child/index.js
  packages/cogo-academy/page-components/Course/commons/FieldArray/Child/styles.module.css
  packages/cogo-academy/page-components/Course/commons/FieldArray/index.js
  packages/cogo-academy/page-components/Course/commons/getFieldController.js
Owners: @Cogoport/platform-engineering, @shivanshi-cogoport

Update reusable-test-lint.yml
  .github/workflows/reusable-test-lint.yml
Owners: @Cogoport/platform-engineering, @prashantp01

Update reusable-test-lint.yml
  .github/workflows/reusable-test-lint.yml
Owners: @Cogoport/platform-engineering, @prashantp01

CourseOverview added
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/CourseOverview/index.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/CourseOverview/styles.module.css
  packages/cogo-academy/page-components/Course/Header/index.js
Owners: @Cogoport/platform-engineering, @shivanshi-cogoport

pr changes
  common/forms/hooks/useGetAsyncOptionsMicroservice.js
  common/forms/page-components/Controlled/AsyncSelectController.js
  common/globalization/constants/geo/IN.js
  common/globalization/constants/geo/VN.js
  packages/purchase-invoicing/common/currencies/index.js
  packages/purchase-invoicing/common/currencies/sortTabel.js
  packages/purchase-invoicing/common/helpers/index.js
  packages/purchase-invoicing/configurations/lineitemsconfig.js
  packages/purchase-invoicing/configurations/styles.module.css
  packages/purchase-invoicing/hooks/useGetTradeParty.js
  packages/purchase-invoicing/page-components/AddRate/ActionToShow/index.js
  packages/purchase-invoicing/page-components/CollectionPartyDetails/index.js
  packages/purchase-invoicing/page-components/InvoiceFormLayout/PurchaseInvoiceDates/index.js
  packages/purchase-invoicing/page-components/PurchaseLineItemDetails/index.js
  packages/purchase-invoicing/page-components/PurchaseLineItemDetails/styles.module.css
  packages/purchase-invoicing/page-components/Step2/KnockOffMode/styles.module.css
  packages/purchase-invoicing/page-components/index.js
  packages/shipment-fcl-freight/page-components/ShipmentDetails/StakeholdersView/Superadmin.js
Owners: @Cogoport/platform-engineering, @prashantp01, @ajeets585

Update reusable-test-lint.yml
  .github/workflows/reusable-test-lint.yml
Owners: @Cogoport/platform-engineering, @prashantp01

pr changes
  packages/business-finance/page-components/AccountPayables/AdvancePayment/Columns/createNewPayRunConfig.ts
  packages/business-finance/page-components/AccountPayables/AdvancePayment/CreateNewPayRun/Footer/index.tsx
  packages/business-finance/page-components/AccountPayables/AdvancePayment/CreateNewPayRun/index.tsx
  packages/business-finance/page-components/AccountPayables/AdvancePayment/hooks/useGetAdvancePaymentList.tsx
Owners: @Cogoport/platform-engineering, @bhanunadar

surface
  common/navigation-configs/apis/kam-desk-apis.js
  packages/kam-desk/common/ShipmentCard/ShipmentIcon/index.js
  packages/kam-desk/config/SHIPMENTS_PAYLOAD.js
  packages/kam-desk/config/SHIPMENT_STEPPER_TABS.json
  packages/kam-desk/hooks/useListKamDeskSurfaceShipments.js
  packages/kam-desk/page-components/SURFACE/Card/index.js
  packages/kam-desk/page-components/SURFACE/Card/styles.module.css
  packages/kam-desk/page-components/SURFACE/ShipmentList/index.js
  packages/kam-desk/page-components/SURFACE/ShipmentList/styles.module.css
  packages/kam-desk/page-components/SURFACE/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

quotation summary add
  packages/cogo-one/hooks/useCheckCustomerCheckoutQuotationConflict.js
  packages/cogo-one/page-components/CogoOneChannel/ProfileDetails/OrganizationDetails/QuotationDetails/index.js
  packages/cogo-one/page-components/CogoOneChannel/ProfileDetails/OrganizationDetails/QuotationDetails/styles.module.css
  packages/cogo-one/page-components/CogoOneChannel/ProfileDetails/OrganizationDetails/index.js
  packages/cogo-one/page-components/CogoOneChannel/ProfileDetails/OrganizationDetails/styles.module.css
  packages/cogo-one/page-components/CogoOneChannel/ProfileDetails/RightSideNav/styles.module.css
Owners: @Cogoport/platform-engineering, @danampallyrahul-cogo, @sandeepn1709

Intended Learners done
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/Header/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/IntendedLearners/ExcelComponent/index.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/IntendedLearners/ExcelComponent/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/IntendedLearners/controls.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/IntendedLearners/index.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/IntendedLearners/styles.module.css
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/components/Specifications/controls.js
  packages/cogo-academy/page-components/Course/CourseCreation/components/AdvanceCourseCreation/components/RightComponent/index.js
Owners: @Cogoport/platform-engineering, @shivanshi-cogoport

changes done
  common/globalization/constants/globals.json
  packages/business-finance/page-components/AccountReceivables/Utils/invoiceListFilterMapping.json
  packages/business-finance/page-components/AccountReceivables/commons/InvoiceTable/index.tsx
Owners: @Cogoport/platform-engineering, @prashantp01, @bhanunadar
