Repository shashank-rana22/Cogo-teams, changes with the owners that .github/CODEOWNERS names for each.
All owners: @prashantp01, @brayn003, @ajeets585, @aniljaiswal, @Harshitcogo, @mohit-cogo, @MahakCogoport, @ssngurjar, @prachidewangan26, @MrutyunjayaB, @harshcogo1304, @danampallyrahul-cogo, @sandeepn1709, @SDineshKumarCogoport, @cogoparth, @vinodtalapa, @ankitcogoport

.github/CODEOWNERS:

# Catchall
* @prashantp01 @brayn003

# Github Actions
.github/ @prashantp01

# Packages
cogo-control/ @prashantp01
common/ @prashantp01
scripts/ @prashantp01
packages/ @prashantp01
packages/shipment-fcl-freight @ajeets585
packages/access-management @prashantp01
packages/authentication @prashantp01
packages/locations @prashantp01
packages/business-finance @aniljaiswal
packages/allocation @Harshitcogo @mohit-cogo @MahakCogoport
packages/contracts @ssngurjar
packages/my-profile @prachidewangan26
packages/vendor-rm @MrutyunjayaB @harshcogo1304
packages/my-incident @aniljaiswal
packages/cogo-one @danampallyrahul-cogo @sandeepn1709
packages/cogo-verse-analytics @SDineshKumarCogoport
packages/enrichment @cogoparth @mohit-cogo @Harshitcogo
packages/ground-ops @vinodtalapa @ankitcogoport

handled new message sent at
  packages/cogo-one/hooks/useListChats.js
Owners: @danampallyrahul-cogo, @sandeepn1709

fixes
  packages/allocation/page-components/KamExpertise/components/Events/EventDetails/EventList/EventListItem/index.js
  packages/allocation/page-components/KamExpertise/components/Events/EventDetails/EventList/index.js
Owners: @Harshitcogo, @mohit-cogo, @MahakCogoport

AnalyticsLoader Changes
  packages/cogo-academy/commons/AnalyticsLoader/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllQuestionCardView/ViewCards/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllQuestionCardView/ViewCardsTags/index.js
Owners: @prashantp01

api fixes and timer
  packages/cogo-academy/page-components/TakeTest/Introduction/index.js
  packages/cogo-academy/page-components/TakeTest/Ongoing/components/LeftSection/Footer/index.js
  packages/cogo-academy/page-components/TakeTest/Ongoing/components/LeftSection/Header/Timer/handleTimer.js
  packages/cogo-academy/page-components/TakeTest/Ongoing/components/LeftSection/Header/Timer/index.js
  packages/cogo-academy/page-components/TakeTest/Ongoing/components/LeftSection/Header/index.js
  packages/cogo-academy/page-components/TakeTest/Ongoing/components/LeftSection/index.js
  packages/cogo-academy/page-components/TakeTest/Ongoing/components/RightSection/Body/QuestionsCount/index.js
  packages/cogo-academy/page-components/TakeTest/Ongoing/components/RightSection/Body/index.js
  packages/cogo-academy/page-components/TakeTest/Ongoing/components/RightSection/index.js
  packages/cogo-academy/page-components/TakeTest/Ongoing/hooks/useFetchQuestionList.js
  packages/cogo-academy/page-components/TakeTest/Ongoing/hooks/useUpdateAnswerStatus.js
  packages/cogo-academy/page-components/TakeTest/Ongoing/index.js
  packages/cogo-academy/page-components/TakeTest/index.js
Owners: @prashantp01

when condition list empty
  packages/allocation/page-components/KamExpertise/components/ExpertiseConfigurations/Tabs/KamExpertiseScore/ExpertiseParameters/index.js
  packages/allocation/page-components/KamExpertise/components/ExpertiseConfigurations/Tabs/KamExpertiseScore/ExpertiseParameters/styles.module.css
Owners: @Harshitcogo, @mohit-cogo, @MahakCogoport

changes
  packages/business-finance/page-components/CFODashboard/Logistics/AccordianCard/index.tsx
  packages/business-finance/page-components/CFODashboard/Logistics/AccordianCard/styles.module.css
  packages/business-finance/page-components/CFODashboard/Logistics/Profitabillity/index.tsx
  packages/business-finance/page-components/CFODashboard/constants/overall-import-export-stats.ts
Owners: @aniljaiswal

draggable implemented
  common/core/components/AdminLayout/FAQs/index.js
  common/core/components/AdminLayout/FAQs/styles.module.css
Owners: @prashantp01

cogo-books-accurals
  packages/business-finance/global.d.ts
  packages/business-finance/page-components/CogoBook/Accruals/Archive/Freeze/index.tsx
  packages/business-finance/page-components/CogoBook/Accruals/Archive/Freeze/styles.module.css
  packages/business-finance/page-components/CogoBook/Accruals/Archive/MonthInfo/index.tsx
  packages/business-finance/page-components/CogoBook/Accruals/Archive/MonthInfo/styles.module.css
  packages/business-finance/page-components/CogoBook/Accruals/Archive/ValuePercentage/index.tsx
  packages/business-finance/page-components/CogoBook/Accruals/Archive/ValuePercentage/styles.module.css
  packages/business-finance/page-components/CogoBook/Accruals/Archive/constant.tsx
  packages/business-finance/page-components/CogoBook/Accruals/Archive/index.tsx
  packages/business-finance/page-components/CogoBook/Accruals/Archive/styles.module.css
  packages/business-finance/page-components/CogoBook/Accruals/ShipmentView/Footer/index.tsx
  packages/business-finance/page-components/CogoBook/Accruals/ShipmentView/index.tsx
  packages/business-finance/page-components/CogoBook/Accruals/ViewSelectedInvoice/index.tsx
  packages/business-finance/page-components/CogoBook/Accruals/ViewSelectedInvoice/styles.module.css
  packages/business-finance/page-components/CogoBook/Accruals/constant.tsx
  packages/business-finance/page-components/CogoBook/Accruals/index.tsx
  packages/business-finance/page-components/CogoBook/Accruals/interface.ts
  packages/business-finance/page-components/CogoBook/Accruals/styles.module.css
  packages/business-finance/page-components/CogoBook/common/StyledTable/index.tsx
  packages/business-finance/page-components/CogoBook/hooks/useArchive.tsx
  packages/business-finance/page-components/CogoBook/hooks/useShipmentView.tsx
  packages/business-finance/page-components/CogoBook/hooks/useViewSelect.tsx
  packages/business-finance/pages/business-finance/cogo-book/selected_invoice/index.ts
Owners: @aniljaiswal

gst async select
  common/navigation-configs/apis/shipment-apis.js
  packages/shipment-fcl-freight/common/AdditionalServices/components/AddIp/AddInvoicingParty/CreateNewBillingAddress/AddressForm/address_controls.js
  packages/shipment-fcl-freight/common/AdditionalServices/components/AddIp/AddInvoicingParty/CreateNewBillingAddress/AddressForm/index.js
  packages/shipment-fcl-freight/common/AdditionalServices/components/AddIp/AddInvoicingParty/CreateNewBillingAddress/AsyncGstListController/index.js
  packages/shipment-fcl-freight/common/AdditionalServices/components/AddIp/AddInvoicingParty/CreateNewBillingAddress/AsyncGstListController/useGetGstList.js
  packages/shipment-fcl-freight/common/AdditionalServices/components/AddIp/AddInvoicingParty/CreateNewBillingAddress/index.js
  packages/shipment-fcl-freight/common/AdditionalServices/components/AddIp/AddInvoicingParty/InvoicingParties/index.js
  packages/shipment-fcl-freight/common/AdditionalServices/components/AddIp/AddInvoicingParty/hooks/useCreateOrgTradeParty.js
  packages/shipment-fcl-freight/common/AdditionalServices/components/AddRate/controls.js
  packages/shipment-fcl-freight/common/AdditionalServices/components/AddRate/index.js
  packages/shipment-fcl-freight/common/AdditionalServices/components/List/AddService/ChooseService/ServicesList/CardHeader/Field/index.js
  packages/shipment-fcl-freight/common/AdditionalServices/components/List/AddService/ChooseService/ServicesList/CardHeader/index.js
  packages/shipment-fcl-freight/common/AdditionalServices/components/List/AddService/ChooseService/ServicesList/CardHeader/styles.module.css
  packages/shipment-fcl-freight/common/AdditionalServices/components/List/AddService/ChooseService/ServicesList/Carditem/index.js
  packages/shipment-fcl-freight/common/AdditionalServices/components/List/AddService/ChooseService/ServicesList/styles.module.css
  packages/shipment-fcl-freight/common/AdditionalServices/components/List/AddService/ChooseService/index.js
  packages/shipment-fcl-freight/common/AdditionalServices/components/List/AddService/ChooseService/styles.module.css
  packages/shipment-fcl-freight/common/AdditionalServices/components/List/AddService/index.js
  packages/shipment-fcl-freight/common/AdditionalServices/components/List/AddService/styles.module.css
  packages/shipment-fcl-freight/hooks/useAddPoNumber.js
  packages/shipment-fcl-freight/hooks/useAddRate.js
  packages/shipment-fcl-freight/hooks/useListOrganizationInvoicingParties.js
  packages/shipment-fcl-freight/hooks/useListServiceChargeCodes.js
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/BLDetails/ContainerDetails/index.js
Owners: @prashantp01, @ajeets585

cogo courses
  packages/cogo-academy/page-components/UserDashboard/LeftSection/Courses/index.js
  packages/cogo-academy/page-components/UserDashboard/LeftSection/Courses/styles.module.css
  packages/cogo-academy/page-components/UserDashboard/LeftSection/LastTestResults/GoToDetails/index.js
  packages/cogo-academy/page-components/UserDashboard/LeftSection/LastTestResults/GoToDetails/styles.module.css
  packages/cogo-academy/page-components/UserDashboard/LeftSection/LastTestResults/styles.module.css
  packages/cogo-academy/page-components/UserDashboard/LeftSection/Overview/index.js
  packages/cogo-academy/page-components/UserDashboard/LeftSection/Overview/styles.module.css
  packages/cogo-academy/page-components/UserDashboard/LeftSection/index.js
  packages/cogo-academy/page-components/UserDashboard/LeftSection/styles.module.css
  packages/cogo-academy/page-components/UserDashboard/commons/QuestionWiseStats/styles.module.css
  packages/cogo-academy/page-components/UserDashboard/commons/TestResultMessage/index.js
  packages/cogo-academy/page-components/UserDashboard/commons/TestResultMessage/styles.module.css
Owners: @prashantp01

es/style lint fix
  common/core/components/AdminLayout/FAQs/styles.module.css
Owners: @prashantp01

minor changes
  packages/allocation/page-components/KamExpertise/components/Badges/BadgeDetails/ListItem/MasteryListItem/index.js
  packages/allocation/page-components/KamExpertise/components/Badges/BadgeUpdateCard/index.js
  packages/allocation/page-components/KamExpertise/components/Badges/CreateBadge/index.js
  packages/allocation/page-components/KamExpertise/components/Badges/CreateMastery/index.js
  packages/allocation/page-components/KamExpertise/configurations/get-add-mastery-controls.js
Owners: @Harshitcogo, @mohit-cogo, @MahakCogoport

fixes
  packages/allocation/page-components/KamExpertise/components/Events/EventDetails/EventList/EventListItem/index.js
  packages/allocation/page-components/KamExpertise/components/Events/EventDetails/EventList/EventListItem/styles.module.css
  packages/allocation/page-components/KamExpertise/components/Events/EventDetails/EventList/index.js
  packages/allocation/page-components/KamExpertise/components/Events/EventDetails/EventList/styles.module.css
Owners: @Harshitcogo, @mohit-cogo, @MahakCogoport

fixes
  packages/allocation/page-components/KamExpertise/components/Events/EventDetails/EventList/index.js
Owners: @Harshitcogo, @mohit-cogo, @MahakCogoport

overflow handled
  common/core/components/AdminLayout/FAQs/index.js
  common/core/components/AdminLayout/FAQs/styles.module.css
Owners: @prashantp01

dashboard component
  packages/cogo-academy/page-components/CreateModule/commons/SingleQuestionComponent/OptionsComponent/styles.module.css
  packages/cogo-academy/page-components/CreateModule/components/EmptyState/styles.module.css
  packages/cogo-academy/page-components/UserDashboard/LeftSection/Courses/index.js
  packages/cogo-academy/page-components/UserDashboard/LeftSection/Courses/styles.module.css
  packages/cogo-academy/page-components/UserDashboard/LeftSection/LastTestResults/GoToDetails/styles.module.css
  packages/cogo-academy/page-components/UserDashboard/LeftSection/Overview/index.js
  packages/cogo-academy/page-components/UserDashboard/LeftSection/Overview/styles.module.css
  packages/cogo-academy/page-components/UserDashboard/LeftSection/styles.module.css
Owners: @prashantp01

delete key from local storage
  packages/cogo-academy/page-components/TakeTest/Ongoing/hooks/useEndTest.js
Owners: @prashantp01

end test
  packages/cogo-academy/page-components/TakeTest/Ongoing/components/LeftSection/Footer/LeaveTest/index.js
  packages/cogo-academy/page-components/TakeTest/Ongoing/components/RightSection/Footer/index.js
Owners: @prashantp01

emails
  common/shipment-mails/page-components/Description/Compose/index.js
  common/shipment-mails/page-components/Description/Compose/styles.module.css
  packages/shipment-fcl-freight/common/PortDetails/styles.module.css
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Emails/EmailsRpa/EmailCard/index.js
Owners: @prashantp01, @ajeets585

fixes
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/EditCancelService/CancelShipment/CancellationModal/index.js
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/EditCancelService/CancelShipment/CancellationModal/styles.module.css
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/EditCancelService/CancelShipment/index.js
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/EditCancelService/CancelShipment/styles.module.css
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/EditCancelService/index.js
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/EditCancelService/styles.module.css
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/index.js
Owners: @ajeets585

faq stats api sorted
  packages/cogo-academy/page-components/CreateFAQ/Analytics/GraphUI/PieChart/CombinedPieChart/styles.module.css
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/index.js
Owners: @prashantp01

integrated with reply n forward
  packages/cogo-one/common/EmailCustomTag/index.js
  packages/cogo-one/common/EmailCustomTag/styles.module.css
  packages/cogo-one/common/MailDetails/index.js
  packages/cogo-one/hooks/useForwardMail.js
  packages/cogo-one/hooks/useGetMailAttachment.js
  packages/cogo-one/hooks/useReplyAllMail.js
  packages/cogo-one/hooks/useReplyMail.js
  packages/cogo-one/hooks/useSendMail.js
  packages/cogo-one/page-components/CogoOneChannel/Conversations/MailConversation/Emailbody/index.js
  packages/cogo-one/page-components/CogoOneChannel/Conversations/MailConversation/Emailbody/styles.module.css
  packages/cogo-one/page-components/CogoOneChannel/Conversations/MailConversation/Header/index.js
  packages/cogo-one/page-components/CogoOneChannel/Conversations/MailConversation/MailAttachment/index.js
  packages/cogo-one/page-components/CogoOneChannel/Conversations/MailConversation/MailAttachment/styles.module.css
  packages/cogo-one/page-components/CogoOneChannel/Conversations/MailConversation/index.js
  packages/cogo-one/page-components/CogoOneChannel/Conversations/MailConversation/styles.module.css
  packages/cogo-one/page-components/CogoOneChannel/Customers/MailList/MailModal/index.js
  packages/cogo-one/page-components/CogoOneChannel/Customers/MailList/MailModal/styles.module.css
  packages/cogo-one/page-components/CogoOneChannel/Customers/MailList/index.js
  packages/cogo-one/page-components/CogoOneChannel/Customers/index.js
Owners: @danampallyrahul-cogo, @sandeepn1709

back
  packages/cogo-academy/page-components/CreateModule/components/Header/index.js
  packages/cogo-academy/page-components/CreateModule/components/Header/styles.module.css
Owners: @prashantp01

setstate
  packages/cogo-academy/page-components/TakeTest/Introduction/index.js
  packages/cogo-academy/page-components/TakeTest/index.js
Owners: @prashantp01

fix
  common/navigation-configs/apis/insurance-apis.js
Owners: @prashantp01

api hit
  packages/cogo-academy/page-components/TakeTest/Ongoing/hooks/useFetchQuestionList.js
Owners: @prashantp01

fixes
  packages/cogo-academy/page-components/CreateModule/commons/SavedQuestionDetails/index.js
  packages/cogo-academy/page-components/CreateModule/commons/SavedQuestionDetails/styles.module.css
  packages/cogo-academy/page-components/CreateModule/components/CreateNewTest/components/DetailsAndQuestions/components/QuestionSet/index.js
  packages/cogo-academy/page-components/CreateModule/components/CreateQuestionSet/components/AddQuestionsForm/BulkUpload/index.js
  packages/cogo-academy/page-components/CreateModule/components/CreateQuestionSet/components/AddQuestionsForm/BulkUpload/styles.module.css
  packages/cogo-academy/page-components/CreateModule/components/TestsList/index.js
Owners: @prashantp01

fixes
  packages/cogo-academy/page-components/TakeTest/Ongoing/components/LeftSection/Footer/index.js
  packages/cogo-academy/page-components/TakeTest/Ongoing/components/LeftSection/index.js
Owners: @prashantp01

fixes
  packages/cogo-academy/page-components/CreateModule/components/TestsList/styles.module.css
  packages/cogo-academy/page-components/TakeTest/Ongoing/components/LeftSection/Body/SingleQuestion/index.js
  packages/cogo-academy/page-components/UserDashboard/TestsList/index.js
Owners: @prashantp01

fixes
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/EditCancelService/CancelShipment/CancellationModal/index.js
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/EditCancelService/CancelShipment/CancellationModal/styles.module.css
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/EditCancelService/CancelShipment/index.js
Owners: @ajeets585

test id
  packages/cogo-academy/page-components/UserDashboard/LeftSection/LastTestResults/Percentile/index.js
  packages/cogo-academy/page-components/UserDashboard/LeftSection/LastTestResults/TopicWisePercentile/index.js
  packages/cogo-academy/page-components/UserDashboard/LeftSection/LastTestResults/index.js
Owners: @prashantp01

(fix): convert two states into one for render screen logic in events
  packages/allocation/page-components/KamExpertise/components/Events/CreateEvent/AttributesPage/index.js
  packages/allocation/page-components/KamExpertise/components/Events/CreateEvent/AttributesPage/styles.module.css
  packages/allocation/page-components/KamExpertise/components/Events/CreateEvent/index.js
  packages/allocation/page-components/KamExpertise/components/Events/EventDetails/EventList/EventListItem/index.js
  packages/allocation/page-components/KamExpertise/components/Events/EventDetails/EventList/index.js
  packages/allocation/page-components/KamExpertise/components/Events/EventDetails/Header/index.js
  packages/allocation/page-components/KamExpertise/components/Events/EventDetails/index.js
  packages/allocation/page-components/KamExpertise/components/Events/index.js
  packages/allocation/page-components/KamExpertise/hooks/useCreateNewEvent.js
  packages/allocation/page-components/KamExpertise/hooks/useGetEventList.js
  packages/allocation/page-components/KamExpertise/hooks/useUpdateEvent.js
Owners: @Harshitcogo, @mohit-cogo, @MahakCogoport

nu;l handling
  packages/cogo-academy/page-components/UserDashboard/LeftSection/LastTestResults/Percentile/index.js
  packages/cogo-academy/page-components/UserDashboard/LeftSection/LastTestResults/TopicWisePercentile/index.js
Owners: @prashantp01

fixes
  packages/cogo-academy/page-components/CreateModule/commons/SavedQuestionDetails/styles.module.css
  packages/cogo-academy/page-components/CreateModule/components/CreateQuestionSet/components/AddQuestionsForm/BulkUpload/styles.module.css
  packages/cogo-academy/page-components/CreateModule/components/TestsList/index.js
  packages/cogo-academy/page-components/CreateModule/components/TestsList/styles.module.css
Owners: @prashantp01

added search in question
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllQuestionCardView/QuestionList/index.js
  packages/cogo-academy/page-components/CreateFAQ/Analytics/Tabbase/Questions/AllQuestionCardView/QuestionList/styles.module.css
  packages/cogo-academy/page-components/CreateFAQ/Analytics/hooks/useListFaqQuestions.js
Owners: @prashantp01

fixes
  packages/cogo-academy/page-components/CreateModule/components/TestsList/index.js
Owners: @prashantp01

cancellation added
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/EditCancelService/CancelShipment/CancellationModal/index.js
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/EditCancelService/CancelShipment/CancellationModal/styles.module.css
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/EditCancelService/CancelShipment/index.js
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/EditCancelService/SupplierReallocation/controls.js
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/EditCancelService/SupplierReallocation/index.js
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/EditCancelService/SupplierReallocation/styles.module.css
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/EditCancelService/index.js
  packages/shipment-fcl-freight/page-components/ShipmentDetails/Tabs/Overview/Services/ServiceDetails/Header/styles.module.css
Owners: @ajeets585

fixes
  packages/cogo-academy/page-components/CreateModule/components/TestsList/index.js
Owners: @prashantp01

responsive
  packages/cogo-academy/page-components/CreateModule/commons/CreateQuestion/components/BasicDetails/styles.module.css
  packages/cogo-academy/page-components/CreateModule/commons/CreateQuestion/styles.module.css
  packages/cogo-academy/page-components/CreateModule/commons/SingleQuestionComponent/OptionsComponent/styles.module.css
  packages/cogo-academy/page-components/CreateModule/commons/SingleQuestionComponent/styles.module.css
  packages/cogo-academy/page-components/CreateModule/components/CreateQuestionSet/components/AddQuestionsForm/styles.module.css
  packages/cogo-academy/page-components/CreateModule/components/CreateQuestionSet/components/BasicDetailsForm/styles.module.css
Owners: @prashantp01

style fixes
  packages/cogo-academy/page-components/CreateModule/commons/CreateQuestion/components/BasicDetails/styles.module.css
  packages/cogo-academy/page-components/CreateModule/commons/CreateQuestion/styles.module.css
  packages/cogo-academy/page-components/CreateModule/commons/SingleQuestionComponent/OptionsComponent/styles.module.css
  packages/cogo-academy/page-components/CreateModule/commons/SingleQuestionComponent/styles.module.css
  packages/cogo-academy/page-components/CreateModule/components/CreateQuestionSet/components/AddQuestionsForm/styles.module.css
  packages/cogo-academy/page-components/CreateModule/components/CreateQuestionSet/components/BasicDetailsForm/styles.module.css
Owners: @prashantp01
