Repository shashank-rana22/Cogo-teams, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cogoport/platform-engineering, @prashantp01, @riyazKhanCogoport, @Rkoshta79, @akashcogoport, @sushilr29, @ajeets585, @cogoparth, @mohit-cogo, @MahakCogoport, @ssngurjar, @MrutyunjayaB, @shivanshi-cogoport1, @danampallyrahul-cogo, @sandeepn1709, @SDineshKumarCogoport, @shivam-cogo, @ankitcogoport, @Arpit-Cogoport, @akshaysawant23, @vineet-cogo, @amandeep2508, @Priyank-cogo, @sagar-paliwal

fix
  packages/ticket-management/common/TicketStructure/index.js
  packages/ticket-management/configurations/stats-data.js
  packages/ticket-management/constants/index.js
  packages/ticket-management/page-components/MyTickets/StatsSection/index.js
  packages/ticket-management/page-components/MyTickets/index.js
Owners: @Cogoport/platform-engineering, @sandeepn1709, @amandeep2508

fix
  cogo-control/public/locales/en-IN/myTickets.json
Owners: @Cogoport/platform-engineering, @prashantp01

agent id changed
  packages/demand-forecast/hooks/useGetForecastResults.js
Owners: @Cogoport/platform-engineering, @prashantp01

chnages in profit
  packages/revenue-desk/helpers/getFormatedRates.js
  packages/revenue-desk/helpers/getSystemFormatedRates.js
  packages/revenue-desk/page-components/ControlPanel/FilterLayout/index.js
  packages/revenue-desk/page-components/ControlPanel/index.js
  packages/revenue-desk/page-components/DetailPage/ServiceWiseDetails/DecisionPointCard/ColumnHeader/GetTableValue.js
  packages/revenue-desk/page-components/DetailPage/ServiceWiseDetails/DecisionPointCard/ColumnHeader/index.js
  packages/revenue-desk/page-components/DetailPage/ServiceWiseDetails/PreviewModal/index.js
  packages/revenue-desk/page-components/DetailPage/ServiceWiseDetails/index.js
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01

fix
  packages/cogo-one/configurations/raise-ticket-controls.js
  packages/cogo-one/configurations/ticket-controls.js
Owners: @Cogoport/platform-engineering, @danampallyrahul-cogo, @sandeepn1709

fix
  cogo-control/public/locales/en-IN/myTickets.json
Owners: @Cogoport/platform-engineering, @prashantp01

fix
  packages/business-finance/page-components/AccountReceivables/components/Outstanding/OutstandingList/DownloadLedgerModal/index.js
  packages/business-finance/page-components/AccountReceivables/components/Outstanding/OutstandingList/DownloadLedgerModal/styles.module.css
  packages/business-finance/page-components/AccountReceivables/components/Outstanding/OutstandingList/StatsOutstanding/styles.module.css
Owners: @Cogoport/platform-engineering

fix
  cogo-control/public/locales/en-IN/myTickets.json
Owners: @Cogoport/platform-engineering, @prashantp01

fix: tour CTA
  packages/business-finance/page-components/CogoFinancials/Common/SingleGraphCard/index.js
  packages/business-finance/page-components/CogoFinancials/index.js
  packages/business-finance/page-components/CogoFinancials/styles.module.css
  pnpm-lock.yaml
Owners: @Cogoport/platform-engineering, @prashantp01

filter applied
  packages/supply-dashboards/page-components/RfqEnquiries/hooks/useGetRfqSearches.js
Owners: @Cogoport/platform-engineering, @prashantp01

changes
  packages/cogo-one/page-components/CogoOneChannel/Conversations/MailConversation/EmailBodyStructure/index.js
  packages/cogo-one/page-components/CogoOneChannel/Conversations/MailConversation/EmailBodyStructure/showEmails.js
  packages/cogo-one/page-components/CogoOneChannel/Conversations/MailConversation/styles.module.css
Owners: @Cogoport/platform-engineering, @danampallyrahul-cogo, @sandeepn1709

errors fixed
  packages/shipment-air-freight/page-components/SalesInvoice/Invoices/Header/EditInvoice/editLineItems.js
  packages/shipment-air-freight/page-components/SalesInvoice/Invoices/Header/EditInvoice/index.js
Owners: @Cogoport/platform-engineering, @Arpit-Cogoport

added design and open chat
  packages/cogo-one/common/AddPrimaryPocModal/index.js
  packages/cogo-one/common/AddPrimaryPocModal/styles.module.css
  packages/cogo-one/common/ShipmentsCard/HeaderBlock/index.js
  packages/cogo-one/common/UserCard/index.js
  packages/cogo-one/common/UserCard/styles.module.css
  packages/cogo-one/helpers/formatOrganizationUsers.js
  packages/cogo-one/hooks/useUpdateShipmentPrimaryPoc.js
  packages/cogo-one/page-components/CogoOneChannel/EmptyChatPage/ShipmentsHomePage/ShipmentCard/PocContainer/PocUser/index.js
  packages/cogo-one/page-components/CogoOneChannel/EmptyChatPage/ShipmentsHomePage/ShipmentCard/PocContainer/PocUser/styles.module.css
  packages/cogo-one/page-components/CogoOneChannel/EmptyChatPage/ShipmentsHomePage/ShipmentCard/PocContainer/index.js
  packages/cogo-one/page-components/CogoOneChannel/ModalComps/OrgUsers/Leads/index.js
  packages/cogo-one/page-components/CogoOneChannel/ModalComps/OrgUsers/Organizations/OrgUserList/index.js
Owners: @Cogoport/platform-engineering, @danampallyrahul-cogo, @sandeepn1709

profile ids changed
  packages/shipment-air-freight/page-components/SalesInvoice/Invoices/Header/EditInvoice/index.js
Owners: @Cogoport/platform-engineering, @Arpit-Cogoport

key changes
  packages/governance-manager/page-components/StatusBar/utils/status-tabs.js
  packages/governance-manager/page-components/Supplier/Steps/Contracts&SLA/hooks/useGetOrganizationContract.js
  packages/governance-manager/page-components/Supplier/utils/supplier-utils.js
  packages/governance-manager/page-components/hooks/useListOrgnizationServices.js
Owners: @Cogoport/platform-engineering, @prashantp01

changes in contract and sla
  packages/governance-manager/page-components/Supplier/Steps/Contracts&SLA/ContractItem/StepOne/index.js
  packages/governance-manager/page-components/Supplier/Steps/Contracts&SLA/ContractItem/StepTwo/index.js
  packages/governance-manager/page-components/Supplier/Steps/Contracts&SLA/ContractItem/index.js
  packages/governance-manager/page-components/Supplier/Steps/Contracts&SLA/hooks/useUpdateOrganizationContract.js
  packages/governance-manager/page-components/Supplier/Steps/Contracts&SLA/index.js
  packages/governance-manager/page-components/Supplier/Steps/Contracts&SLA/styles.module.css
Owners: @Cogoport/platform-engineering, @prashantp01

some changes in contract sla
  common/navigation-configs/apis/governance-manager-apis.js
  packages/governance-manager/page-components/Supplier/Steps/Contracts&SLA/ContractItem/StepOne/index.js
  packages/governance-manager/page-components/Supplier/Steps/Contracts&SLA/ContractItem/StepTwo/index.js
  packages/governance-manager/page-components/Supplier/Steps/Contracts&SLA/hooks/useUpdateOrganizationContract.js
  packages/governance-manager/page-components/Supplier/Steps/Contracts&SLA/index.js
Owners: @Cogoport/platform-engineering, @prashantp01

contract sla is about to complete
  packages/governance-manager/page-components/Supplier/Steps/Contracts&SLA/hooks/useSendOrganizationContractForRenegotiation.js
  packages/governance-manager/page-components/Supplier/Steps/Contracts&SLA/index.js
  packages/governance-manager/page-components/Supplier/index.js
  packages/governance-manager/page-components/hooks/useGetOrganizationService.js
Owners: @Cogoport/platform-engineering, @prashantp01

changes supplier to supply
  packages/cogo-one/helpers/getAdditionalPayloadForViewType.js
  packages/cogo-one/page-components/CogoOneDashboard/hooks/useGetCogoOneAgentStats.js
Owners: @Cogoport/platform-engineering, @danampallyrahul-cogo, @sandeepn1709

feedback dashboard translation
  cogo-control/public/locales/en-IN/allocation.json
  cogo-control/public/locales/en-SG/allocation.json
  cogo-control/public/locales/id-ID/allocation.json
  cogo-control/public/locales/th-TH/allocation.json
  cogo-control/public/locales/vi-VN/allocation.json
  cogo-control/public/locales/zh-CN/allocation.json
  packages/allocation/page-components/CRMFeedbackDashboard/Dashboard/components/PrimaryTabs/FeedbacksReceived/get-feedback-columns.js
  packages/allocation/page-components/CRMFeedbackDashboard/Dashboard/components/PrimaryTabs/FeedbacksReceived/index.js
  packages/allocation/page-components/CRMFeedbackDashboard/Dashboard/components/PrimaryTabs/RequestsSent/get-request-columns.js
  packages/allocation/page-components/CRMFeedbackDashboard/Dashboard/components/PrimaryTabs/RequestsSent/index.js
  packages/allocation/page-components/CRMFeedbackDashboard/Dashboard/components/commons/Filters/controls.js
  packages/allocation/page-components/CRMFeedbackDashboard/Dashboard/components/commons/Filters/index.js
  packages/allocation/page-components/CRMFeedbackDashboard/Dashboard/components/commons/Statistics/get-stats-data.js
  packages/allocation/page-components/CRMFeedbackDashboard/Dashboard/components/commons/Statistics/index.js
  packages/allocation/page-components/CRMFeedbackDashboard/Dashboard/index.js
  packages/allocation/page-components/CRMFeedbackDashboard/common/CrmTable/index.js
  packages/allocation/page-components/CRMFeedbackDashboard/common/EnrichmentRequest/index.js
  packages/allocation/page-components/CRMFeedbackDashboard/hooks/useCreateBulkEnrichment.js
Owners: @Cogoport/platform-engineering, @prashantp01, @cogoparth, @mohit-cogo, @MahakCogoport, @sushilr29

status fixes
  packages/allocation/page-components/CRMFeedbackDashboard/Dashboard/components/PrimaryTabs/RequestsSent/get-request-columns.js
Owners: @Cogoport/platform-engineering, @cogoparth, @mohit-cogo, @MahakCogoport, @sushilr29

warehouse app
  common/navigation-configs/apis/partner-apis.js
  common/navigation-configs/navigation-mapping-admin.js
Owners: @Cogoport/platform-engineering, @prashantp01

.github/CODEOWNERS:

# Catchall
* @Cogoport/platform-engineering @prashantp01 

# Github Actions
.github/ @Cogoport/platform-engineering @prashantp01

# Packages
cogo-control/ @Cogoport/platform-engineering @prashantp01
common/ @Cogoport/platform-engineering @prashantp01
common/globalization @Cogoport/platform-engineering @riyazKhanCogoport @Rkoshta79 @akashcogoport @sushilr29
scripts/ @Cogoport/platform-engineering @prashantp01
packages/ @Cogoport/platform-engineering @prashantp01
packages/shipment-fcl-freight @Cogoport/platform-engineering @ajeets585
packages/booking-desk @Cogoport/platform-engineering @ajeets585
packages/bn-salvage @Cogoport/platform-engineering @ajeets585
packages/access-management @Cogoport/platform-engineering @prashantp01
packages/authentication @Cogoport/platform-engineering @prashantp01
packages/locations @Cogoport/platform-engineering @prashantp01
packages/business-finance @Cogoport/platform-engineering 
packages/allocation @Cogoport/platform-engineering @cogoparth @mohit-cogo @MahakCogoport @sushilr29
packages/contracts @Cogoport/platform-engineering @ssngurjar
packages/my-profile @Cogoport/platform-engineering
packages/vendor-rm @Cogoport/platform-engineering @MrutyunjayaB @shivanshi-cogoport1
packages/my-incident @Cogoport/platform-engineering 
packages/cogo-one @Cogoport/platform-engineering @danampallyrahul-cogo @sandeepn1709
packages/cogo-verse-analytics @Cogoport/platform-engineering @SDineshKumarCogoport
packages/enrichment @Cogoport/platform-engineering @cogoparth @mohit-cogo @sushilr29
packages/performance-management @Cogoport/platform-engineering @shivam-cogo
packages/ground-ops @Cogoport/platform-engineering @ankitcogoport @Arpit-Cogoport
packages/air-repository @Cogoport/platform-engineering @ankitcogoport @Arpit-Cogoport
packages/cogo-academy @Cogoport/platform-engineering @shivanshi-cogoport1
packages/cogo-academy/page-components/ControlCenter @Cogoport/platform-engineering @shivam-cogo
packages/cogo-academy/page-components/FAQs @Cogoport/platform-engineering @shivam-cogo
packages/chro @Cogoport/platform-engineering @shivam-cogo
packages/employee-portal @Cogoport/platform-engineering @shivam-cogo
packages/new-employee-dashboard @Cogoport/platform-engineering @shivam-cogo
packages/unified-dashboard @Cogoport/platform-engineering @akshaysawant23 @vineet-cogo
packages/ticket-management @Cogoport/platform-engineering @sandeepn1709 @amandeep2508
packages/advance-booking-manager @Cogoport/platform-engineering @ankitcogoport @Arpit-Cogoport
packages/controlled-checkout @Cogoport/platform-engineering @Priyank-cogo
common/air-modules @Cogoport/platform-engineering @Arpit-Cogoport
packages/booking-desk-air @Cogoport/platform-engineering @Arpit-Cogoport
packages/shipment-air-freight @Cogoport/platform-engineering @Arpit-Cogoport
packages/shipment-air-customs @Cogoport/platform-engineering @Arpit-Cogoport
packages/shipment-air-freight-local @Cogoport/platform-engineering @Arpit-Cogoport
packages/shipment-domestic-air-freight @Cogoport/platform-engineering @Arpit-Cogoport
packages/ihls @Cogoport/platform-engineering @sagar-paliwal
packages/printing-desk @Cogoport/platform-engineering @ankitcogoport @Arpit-Cogoport
packages/airline-booking-plugin @Cogoport/platform-engineering @ankitcogoport @Arpit-Cogoport
